<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <!-- Ici on ne met plus DefaultLayout -->
        <RouteView RouteData="@routeData" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <!-- LayoutView avec MainLayout retiré -->
        <p role="alert">Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>
